
.section__content {
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
    padding-top: 60px;
    min-width: 320px;
    position: relative;
    max-width: 1200px;
    width: 320px;
}
.icon__dots {
    font-family: var(--heading-font);
    font-size: 73px;
    color: var(--light-accent-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 87.6px;
    text-transform: none;
    vertical-align: baseline;
    line-height: 87.6px;
    display: inline;
}
.content__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 272px;
}
.content__title {
    font-family: var(--heading-font);
    color: var(--text-color);
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    vertical-align: baseline;
    line-height: 67.2px;
    height: 175.2px;
}

.content__box-icon {
    color: rgb(31, 49, 56);
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    max-width: 100%;
    text-align: left;
}

.content__box-title {
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    font-weight: bold;
    text-transform: none;
    vertical-align: baseline;
    text-align: left;
}

.content__box-description {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    font-size: 17px;
    font-style: normal;
    text-align: left;
    line-height: 30.6px;
    text-transform: none;
    vertical-align: baseline;
}
