.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header__container {
    padding-left: 15px;
    padding-right: 15px;
}

.header__banner {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-top: 130px;
    padding-bottom: 130px;
    justify-content: space-between;
}

.header__title {
    font-family: "Nanum Myeongjo", serif;
    color: var(--text-color);
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    text-transform: none;
}

.header__slogan {
    font-family: 'Montserrat', cursive;
    color: var(--text-color);
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
}

@media (min-width: 767px) {
    .header {
        background-image: url(../img/ring_for_header.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .header__title {
        font-size: 99px;
    }

    .header__subtitle {
        font-size: 18px;
    }
}

@media (min-width: 993px) {
    .header__title {
        font-size: 134px;
    }

    .header__subtitle {
        font-size: 18px;
    }
}

.header__lern-more {
    display: flex;
    flex-wrap: wrap;
}

.header__learn-more-button {
    font-family: 'Montserrat', cursive;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--light-accent-color);
    color: var(--light-shade-color);
    text-decoration: none;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 19px 21px 19px 21px;
    margin: 10px;
    border: 1px solid transparent;
}

.header__learn-more-button:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

.header__svg {
    transform: translate(0, 6px);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    color: var(--text-color);
}

.header__svg:hover {
    color: var(--light-accent-color);
}

.header__menu-icon {
    font-family: 'Montserrat', sant-serif;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin: 5px 7.5px 5px 7.5px;
    padding: 5px 2px 5px 2px;
    text-align: left;
    white-space: nowrap;
}

.header__menu-icon:hover {
    color: var(--light-accent-color);
}

@media (max-width: 990px) {
    body.lock {
        overflow: hidden;
    }


.header__social{}
}







.header__logo {
    width: 107px;
    height: 79.4125px;
}

.header__slogan {
    font-size: 18px;
    height: 135px;
    width: 272px;
    font-weight: 400px;
    text-align: left;
}


